<div class="card">
  <h5 class="card-header d-flex justify-content-between">
      Add Category
  </h5>
  <div class="card-body">
      <form method="post" action="">
          <div  class="form-group">
            <label for="CatName">Category</label>
            <input  class="form-control" id="txtCatName" name="CatName" autofocus >
          </div>
        <a class="btn btn-success" href="/admin/categories/list" role="button">
          <i title="Back to list" class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button title="Add category" type="submit" class="btn btn-primary">
          Save
        </button>
      </form>
  </div>
</div>